html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;

  .grid {
    display: grid;
    min-width: 750px;
    max-width: 750px;
    height: 640px;
    margin: 0 auto;
    place-content: center;

    .cell {
      width: 15px;
      height: 15px;
      border: 1px solid black;
    }
  }

  .interface {
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    .btn-container {
      width: 250px;
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 250px;

      button {
        width: 90%;
        padding: 5px;
        border-radius: 3px;
        font-size: 1.5rem;

        &:focus {
          outline: none;
        }
      }
    }
    .generation {
      font-size: 2rem;
      text-align: center;
    }
  }

  .features {
    form {
      height: 200px;
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 60px auto;

      label {
        font-size: 1.5rem;
      }

      select {
        width: 90%;
        padding: 5px;
        border-radius: 2px;
        font-size: 1.5rem;
      }
    }

    .rules {
      height: 300px;

      .rules-heading {
        font-size: 1.8rem;
      }

      .rules-desc {
        width: 90%;
        font-size: 1.6rem;
      }

      span {
        font-weight: 900;
      }
    }
  }
}
