html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;

  .grid {
    display: grid;

    .cell {
      width: 15px;
      height: 15px;
      border: 1px solid black;
    }
  }

  .interface {
    height: 400px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    .btn-container {
      width: 250px;
      margin: 10px auto;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 150px;

      button {
        width: 90%;
        padding: 5px;
        border-radius: 3px;
        font-size: 1.5rem;

        &:focus {
          outline: none;
        }
      }
    }
    .generation {
      font-size: 2rem;
      text-align: center;
    }
  }

  .features {
    .btn-feat-container {
      width: 250px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100px;

      button {
        width: 90%;
        padding: 5px;
        border-radius: 3px;
        font-size: 1.5rem;

        &:focus {
          outline: none;
        }
      }
    }
  }

  form {
    height: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 50px auto;

    label {
      font-size: 1.5rem;
    }

    select {
      padding: 5px;
      border-radius: 2px;
      font-size: 1.5rem;
    }
  }
}
